@tailwind base;
@tailwind components;
@tailwind utilities;

.ProfileImageAfter{
  @apply after:transition-[background] after:duration-500 hover:after:flex hover:after:items-center hover:after:justify-center hover:after:content-['contact!'] hover:after:text-2xl hover:after:bg-[rgba(0,0,0,0.7)]  hover:after:absolute hover:after:text-white hover:after:w-full hover:after:h-full hover:after:top-0 hover:after:rounded-[50%]
}

@keyframes appearUpToDown {
  0%{
    opacity: 0;
    transform:translateY(-40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.appear_item{
  animation : appearUpToDown 1s ease-in forwards;
}

.appear_second_item{
  animation : appearUpToDown 1s ease-in forwards;
  animation-delay:0.7s;
}

.appear_third_item{
  animation : appearUpToDown 1s ease-in forwards;
  animation-delay:1.4s;
}

.hobby_carousel_item{
  @apply flex flex-col items-center w-full shadow-[5px_5px_10px_0_rgba(0,0,0,0.3)] hover:scale-105 duration-300
}

.code_carousel_item{
  @apply flex flex-col items-center w-full shadow-[5px_5px_10px_0_rgba(0,0,0,0.3)] hover:scale-105 duration-300
}

.box